:root {
    --background-colour: #FFFAF0FF;
    --foreground-colour: #000000FF;
    --selection-colour: #B4D7FF;
    --highlight-colour: #DCDCDD;
    --main-font: "Times New Roman", Times, serif;
    color-scheme: light;
}

body {
    background-color: var(--background-colour);
    color: var(--foreground-colour);
    font-family: var(--main-font);
}

hr {
    height: 2px;
    border: none;
    background-color: var(--foreground-colour);
}

header {
    z-index: 1; /* Stay on top */
}

footer {
}

header h1 {
    display: inline;
    vertical-align: middle;
}

header img {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    display: inline-block;
}

button {
    padding: 2px;
    margin: 3px 3px 3px 0;
    font-family: var(--main-font);
    font-size: initial;
    border: 2px solid var(--foreground-colour);
    background-color: var(--background-colour);
    color: var(--foreground-colour);
    cursor: pointer;
}

button:hover {
    background-color: var(--highlight-colour);
}

button img {
    display: inline;
    vertical-align: middle;
}

a {
    color: var(--foreground-colour);
}

.puzzle-browser {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.puzzle-browser tr {
    border: 2px solid var(--foreground-colour);
}

.puzzle-browser tr:hover {
    background-color: var(--highlight-colour);
}

.puzzle-browser tr:active {
    background-color: var(--selection-colour);
}

.stopwatch {
    display: inline-block;
    vertical-align: middle;
}

.info-container {
    margin-left: 10px;
    padding: 0;
}

.puzzle-container {
    padding: 0;
}

.game-view {
    display: flex;
}

.clue-list {
    padding-inline-start: 10px;
}

.clue-tag {
    font-weight: bold;
    margin-right: 5px;
}

.clue {
    display: block;
    cursor: pointer;
    color: var(--foreground-colour);
    padding: 5px;
}

.clue:hover {
    background-color: var(--highlight-colour);
}

.clue:active, .clue.selected {
    background-color: var(--selection-colour);
}

.info-label {
    font-weight: bold;
}

.info-text {
    margin-inline-start: 10px;
    margin-block-end: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
}

.puzzle-square {
    box-shadow: 0 0 0 2px var(--foreground-colour);
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 2px;
    color: var(--foreground-colour);
    background-color: var(--background-colour);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;

}

.puzzle-square-clue {
    position: absolute;
    left: 3px;
    top: 3px;
}


.cell {
    font-size: 20px;
    cursor: text;
}

.block {
    background-color: var(--foreground-colour);
}

.invisible {
    background-color: transparent;
    box-shadow: none;
}

.cell:hover, .cell.highlighted {
    background-color: var(--highlight-colour);
}

.cell:active, .cell.selected {
    background-color: var(--selection-colour);
}

.puzzle-square-text {
    font-size: 50px;
    font-weight: bold;
    width: 1em;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: transparent;
    font-family: var(--main-font);
    color: var(--foreground-colour);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
